tr:nth-child(even){
    background-color: aqua;
}
tr:nth-child(odd){
    background-color: salmon;
}
body{
    background-image:url('../media/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
 }
 h1{
    Color :blue ;
    
}
ul{
    font-size :inherit;
    Color : brown;
}
ul#menu li{
    font-size:xx-large;
    background-color: antiquewhite;
    text-align: center;
    display: inline;
  }
