ul#menu li{
    font-size:xx-large;
    background-color: whitesmoke;
    text-align: center;
    display: inline;
  }
  body{
    background-image: url('../media/6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.Two{
    float: left;
    width: 49%;
    padding: 5px;
}
.one::after{
    content: "";
    clear: both;
    display: table;
}
p#t1{
    font-size: xx-large;
    color: crimson;

}
p#t2{
    font-size:xx-large;
    color:aqua;
}
.responsive{
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    border: none;
    display: block;
    padding: 5px 0;
}