h1{
    font-style: inherit;
    text-align: center;
    color:wheat ;
}
body{
    background-image:url('3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }
 
h2{
    font-style: inherit;
    text-align: left;
    color:lightcyan
} 
p1{
    color:forestgreen;
    font-style:initial;
    font-size: x-large;
}
p2{
    color:lightgreen;
    font-style:initial;
    font-size: x-large;
}
p{
    color:lightgray;
    font-style:inherit;
    font-size: x-large;
}
