$a:crimson;
$b:blue;
div{
    font-style: inherit;
    p1,p3{
        color: $a;
    }
    p2{
       color: $b;
    }

}
.one{
    font-weight: bold;
    padding: 20px;
    margin: 20px; 
    font-size: xx-large;
    color: darkgreen;
}
  
.two {
      @extend .one;
    font-size: x-large; 
}

body{
    background-image: url('../media/9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
  
ul#menu li{
    font-size:xx-large;
    background-color: antiquewhite;
    text-align: center;
    display: inline;
  }
  
h2{
    font-size: xx-large;
    color: crimson;
}
h3{
    font-size: xx-large;
    color: blueviolet;
}